# sample .env data and copy all to .env and correct the deployment data

PORT = 8000


#JWT Secret-Key
JWT_SECRET = "YOUR JWT Secret"

#base path
BASE_PATH = "/api/v1"

#firebase setting
FIREBASE_API_KEY="your_firebase_api_key"
FIREBASE_AUTH_DOMAIN="your_firebase_auth_domain"
FIREBASE_PROJECT_ID="your_firebase_project_id"
FIREBASE_APP_ID="your_firebase_app_id"